body {
	font-family: 'Kanit', sans-serif;
}
html, body {
	height: 100%;
}

/*Navigation Bar Edits*/
.nav-link {
	font-size: 20px;
	margin: 0 5px;
}
.navbar-brand {
	font-size: 22px;
}

.nav-link:hover {
	color: black;
}

/*Navigation Bar Edits End*/

/*Main Content Edits*/
.main-container {
	/*justify-self: center;*/
	margin-top: 10rem;
	/*margin-bottom: 50%;*/
}
.main-box {
	/*background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );*/
	/*background-color: rebeccapurple;*/
	width: 85rem;
	height: 60rem;
	/*background-color: white;*/
	/*border-radius: 26px;*/
	/*margin: 10rem auto 10rem 27rem;*/
	/*z-index: 2;*/
	display: flex;
	justify-content: space-evenly;
}
.headshot {
	width: 43rem;
	height: 58rem;
	border-radius: 26px;
}
.main-box-pic {
	width: 30rem;
	height: 60rem;
	margin-top: 16px;
	margin-right: 20rem;

}
.main-box-info {
	width: 30rem;
	height: 60rem;
	margin-right: 1rem;
	margin-top: 5rem;
}
.about-me {
	line-height: 2;
}
.email-ref {
	color: black;
}
li {
	margin: 1.5rem 0;
	height: 30px;
}
.contact-icons {
	margin-right: 12px;
}
.socials {
	font-size: 25px;
	margin: 10px;
	color: black;
}
.socials:hover {
	opacity: 50%;
	color: black;
}

#hello path:nth-child(1){
	stroke-dasharray: 800px;
}
#hello path:nth-child(2){

}
#hello path:nth-child(3){

}
#hello path:nth-child(4){

}
#hello path:nth-child(5){

}
/*Main Content Edits End*/