
.body-container {
	margin-top: 8rem;
	text-align: center;
}




body {
	font-family: 'Hind', sans-serif;
	color: #393E46;
	background-color: #F7F7F7;
}
html, body {
	height: 100%;
	margin: 0;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}
.push {
	height: 85px;
}

/*!*Navigation Bar Edits*!*/
.navbar {
	background-color: #3f9485;
}
.nav-link {
	font-size: 20px;
	margin: 0 5px;
}
.navbar-brand {
	font-size: 22px;
}

.nav-link:hover {
	color: black;
	transform: scale(1.1);
}

/*!*Navigation Bar Edits End*!*/


.headshot {
	width: 100%;
	max-width: 500px;
	height: auto;
	border-radius: 26px;
}

.main-box-info {
	/*width: 100%;*/
	max-width: 400px;
	height: auto;

}
.main-box-1 {
	font-size: 2rem;
	font-weight: 600;
	/*margin-bottom: 1rem;*/
}
.main-box-2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	white-space: nowrap;
	margin-bottom: 1rem;
}
@media screen and (max-width: 375px) {
	.main-box-1 {
		font-size: 1.6rem;
	}
	.main-box-2 {
		font-size: 2.3rem;
	}
}
.main-box-3 {
	font-size: 16px;
	font-weight: bold;
}
.main-box-4 {
	line-height: 2;
}
.email-ref {
	color: black;
}
li {
	margin: 1.5rem 0;
	height: 30px;
}
.contact-icons {
	margin-right: 12px;
}
.socials {
	font-size: 25px;
	margin: 10px;
	color: black;
}
.socials:hover {
	opacity: 50%;
	color: black;
}
/*!*Main Content Edits End*!*/

/*!*skills container*!*/
@media screen and (max-width: 425px) {
	.soft-skills, .tech-skills {
		opacity: 1!important;
		transform: none!important;
	}
	.skew {
		margin-top: 5rem!important;
		height: 500px!important;
	}
	.skew-2 {
		height: 500px!important;
	}
}
@media screen and (min-width: 1024px) {
	.skew, .skew-2 {
		height: 50rem!important;
	}
	.body-container {
		display: flex;
	}
	.about-container {
		position: relative;
		top: 15rem;
		left: -5rem;
	}
	.pic-container {
		position: relative;
		left: 5rem;
		top: -2rem;
	}
	.skills-list-items, .mil-ex-li {
		font-size: 23px;
		margin: 2rem 0!important;
	}
	.skills-header {
		font-size: 37px!important;
		width: 11rem!important;
		height: 3rem!important;
		line-height: 1.5!important;
	}

}

.skew {
	margin-top: 20rem;
	background-color: #929AAB;
	position: relative;
	width: 100%;
	height: 36rem;
	color: #F7F7F7;
}
.skew-2 {
	background-color: #F7F7F7;
	color: black;
	position: relative;
	width: 100%;
	height: 36rem;
	/*margin-top: 20rem;*/

}
.skew:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin: bottom left;
	transform: skewY(-4deg);
	z-index: -1;
}
.skew-2:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin: bottom right;
	transform: skewY(4deg);
	z-index: 0;
}
.unskew {
	text-align: center;
	padding-top: 6rem;
	color: #EEEEEE;
}
.unskew-2 {
	text-align: center;
	padding-top: 6rem;
	color: black;
	/*z-index: 1;*/
}
.mil-ex {
	z-index: 1;
}

.skills li {
	margin-top: 5px;
}
.skills {
	margin-top: 2.5rem;
}
.skills-header {
	border: 1px solid #393E46;
	background-color: #393E46;
	border-radius: 30px;
	width: 7rem;
	height: 2rem;
	line-height: 1.6;
}
.skills-list-items {
	margin: -8px 0;
}
.mil-ex-ul {
	padding-left: 0;
	list-style: square inside;
}

.mil-ex-li {
	/*padding-left: 1px;*/
}

.tech-skills {
	opacity: 0!important;
	transition: 150ms;
	transform: translateX(-100px);
}
.soft-skills {
	opacity: 0!important;
	transition: 150ms;
	transform: translateX(100px);
}

.tech-skills.show-tech {
	opacity: 1!important;
	transform: translateX(0);
}

.soft-skills.show-soft {
	opacity: 1!important;
	transform: translateX(0);
}

footer {
	background-color: #dfdee6;
	height: 150px;
}

